.page-home {
    // padding-bottom: 100px;
    height: 100%;
    overflow: auto;

    .home-test {
        max-height: 300px;
        background-color: gray;
        overflow: hidden;
        overflow-y: auto;
    }
}