.page-home {
    // padding-bottom: 100px;
    height: 100%;
    overflow: auto;

    .home-test {
        max-height: 300px;
        background-color: gray;
        overflow: hidden;
        overflow-y: auto;
    }

    /deep/ .page-scroller {
        .trigger-top-area {
            background-color: #fff;
        }
    
        .page-scroller-top-placeholder {
            background-color: #fff;
        }

        .page-scroller-container-content {
            background-color: pink;
        }

        .home-test .page-scroller-container-content {
            background-color: #fff;
            
        }
    }
}